<% locals.layout_default = function (buf, opts, content) { %><%
  opts = opts || {};
%><!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title><%= title %></title>
</head>
<body>
<% content(buf) %>
</body>
</html><% } %>
